--extra-index-url https://download.pytorch.org/whl/cpu
streamlit
pdfplumber
pandas
numpy
transformers<4.44.0
sentence-transformers
llama-index==0.14.18
llama-index-core==0.14.18
llama-index-embeddings-huggingface
llama-index-retrievers-bm25
pymongo
pinecone
groq
torch==2.5.1+cpu
python-dotenv
requests>=2.31.0