--extra-index-url https://download.pytorch.org/whl/cpu
streamlit
pdfplumber
pandas
numpy
sentence-transformers
llama-index
llama-index-core
llama-index-embeddings-huggingface
llama-index-retrievers-bm25
pymongo
pinecone-client
groq
torch==2.5.1+cpu
python-dotenv
