--extra-index-url https://download.pytorch.org/whl/cpu
streamlit
pdfplumber
pandas<2.2.3
numpy<2.0.0
sentence-transformers
llama-index
llama-index-core
llama-index-embeddings-huggingface
llama-index-retrievers-bm25
pymongo
pinecone-client
groq
torch==2.3.1+cpu
python-dotenv
